In [1]:
# Module 4.3.4 - Practice Jupyter Notebook

In [2]:
# Module 4.3.4
# Add a LIST of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

# Iterate through the list of high schools and print out each high school
# To print out each high school using a for loop, use the following code:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [5]:
# Module 4.3.4
# Add a DICTIONARY
# A dictionary of high schools and the type of school.
# This is a list of dictionaries containing a high school and the type of high school: district or charter.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

# Iterate through the list of dictionaries and print out each high school and their types
for high_schools in high_school_types:
    print(high_schools)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [42]:
# Module 4.3.5 - Pandas Library
# Pandas allows Python programmers the ability to work with two data types, Series and DataFrames, which are structured lists with many built-in convenience methods 
# We can convert the list of high schools in Jupyter Notebook to a Pandas SERIES, which will allow us to get information from this list.
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [43]:
# Module 4.3.5 - Panda Library
# Add the Pandas dependency.
# To create a Pandas Series, we'll use the pandas.Series() method from the Pandas library. 
# But in order to use this method, we first need to import the Pandas library as a dependency.
# A Pandas Series is a one-dimensional, labeled array capable of holding any data type. This means the data is linear and has an index that acts as a key in a dictionary.
# A one-dimensional array is a list of objects. 
#Import pandas as pd. This code tells the program to import the Pandas library as the alias pd
import pandas as pd

In [44]:
# Module 4.3.5
# Create a Pandas Series from a list. (see above for the HS list created.)
# We assign the variable school_series to the conversion of the list of high schools to a Pandas Series by using pd.Series() instead of pandas.Series(). This is how we use the alias pd in our code.
# Create a Pandas Series from a list for the list of high schools.
school_series = pd.Series(high_schools)
# Retrieve the output by calling the variable school_series
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [2]:
# Module 4.3.5 - Skills Drill
# Iterate through the school_series and print out each high school.
# Like a list in Python, indexing can be used to get specific items from a Pandas Series.
for high_school in range(len(school_series)
    print(high_schools[i])

SyntaxError: invalid syntax (<ipython-input-2-f0585aae1460>, line 5)

In [55]:
# Module 4.3.5 
# We can convert the data in this Excel file to a Pandas DATAFRAME using the pandas.DataFrame() method from the Pandas library.
# Column headers in the Excel file are the keys in the dictionary. The value for each of the keys corresponds to a row in the Excel file.

In [56]:
# Module 4.3.5 - Convert a List of Dictionaries to DataFrame
# We can convert the data in this Excel file to a Pandas DataFrame using the pandas.DataFrame() method
# Create the dictionaries in the pandas_practice.ipynb file
# A dictionary of high schools; high_school_dicts is a list of dictionary
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [1]:
# Module 4.3.5
# We will convert the array, or list of dictionaries, to a DataFrame using school_df = pd.DataFrame(high_school_dicts)
# High school dictionaries was defined above
# The df in school_df is short for dataframe
school_df = pd.DataFrame(high_school_dicts)
school_df

NameError: name 'pd' is not defined

In [58]:
# Module 4.3.5 - Convert a List or Series to a DataFrame cont'd
# We can also create the same DataFrame by adding each column as a list, or Series, to an empty DataFrame.
# Create a list(s) of information
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [59]:
# Module 4.3.5 - - Convert a List or Series to a DataFrame cont'd
# Next, initialize an empty DataFrame
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

NameError: name 'pd' is not defined

In [60]:
# Module 4.3.5 - Convert a List or Series to a DataFrame cont'd
# Now we will add each list (see above) to the empty schools_df DataFrame by typing the column name in quotes within brackets, like we do when we create a key for a dictionary.
# Instead of using the dictionary name, we'll use the name of the DataFrame and make it equal to the list.
# Add the list to a new DataFrame.
school_df["School ID"] = school_id

# Print the DataFrame.
school_df

NameError: name 'school_df' is not defined

In [61]:
# Module 4.3.5
# Skills Drill
# Add the list to a new DataFrame
school_df["Type"] = type_of_school

#Print the DataFrame.
school_df

NameError: name 'school_df' is not defined

In [53]:
# Module 4.3.5 - Pandas cont'd
# Another way to create a DataFrame is to create a Python dictionary from the 3 lists (above)
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

# Now we can convert the high_schools_dict to a DataFrame.
school_df = pd.DataFrame(high_school_dicts)
school_df

NameError: name 'pd' is not defined

In [52]:
# Module 4.3.5
# To get the column names of a DataFramem use df.columns. 
# Get the column names for the school_df DataFrame
school_df.columns

NameError: name 'school_df' is not defined

In [51]:
# Module 4.3.5
# Get the index names for the school_df DataFrame
# the output is a RangeIndexthat contains the first and last index value, as well as the "step=1," or how often the index increments. 
school_df.index

NameError: name 'school_df' is not defined

In [61]:
# Module 4.3.5
# Get the values for the school_df DataFrame
# the output will be an array of all the values, but without the column names:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [32]:
# Module 4.3.5
# Skills drill
# Create a list for each column in the image in 4.3.5

school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School", "Figueroa High School","Shelton High School", "Hernandez High School","Griffin High School", "Wilson High School", "Cabrera High School",
                "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School","Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

for school in high_schools:
    print(school)

High School
Type