In [58]:
# Module 4.3.4 - Practice Jupyter Notebook
# Create a. new file In the pandas_practice.ipynb

In [59]:
# Module 4.3.4
# Add a LIST of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

# Iterate through the list of high schools and print out each high school
# To print out each high school using a for loop, use the following code:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [60]:
# Module 4.3.4
# Add a DICTIONARY
# A dictionary of high schools and the type of school.
# Dictionaries are created using curly braces {}
# This is a LIST OF DICTIONARIES containing a high school and the type of high school: district or charter.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

# Skills Drill: Iterate through the list of dictionaries and print out each high school and their types
for high_schools in high_school_types:
    print(high_schools)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [61]:
# Module 4.3.5 - Pandas Library Overview
# Pandas allows Python programmers the ability to work with two data types, Series and DataFrames, which are structured lists with many built-in convenience methods 
# We can convert the list of high schools in Jupyter Notebook to a Pandas SERIES, which will allow us to get information from this list.
# Creat a list of high schools. Lists are created using square brackets []
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [62]:
# Module 4.3.5 - Panda Library
# FIRST IMPORT THE PANDAS DEPENDENCY (LIBRARY)IN ORDER TO CONVERT THE LIST PANDA SERIES
# To create a PANDAS SERIES, we'll use the pandas.Series() method from the Pandas library. 
# But in order to use this method, we first need to import the Pandas library as a dependency.
# A Pandas Series is a one-dimensional, labeled array capable of holding any data type. This means the data is linear and has an index that acts as a key in a dictionary.
# A one-dimensional array is a list of objects. 
#Import pandas as pd. This code tells the program to import the Pandas library as the alias pd
import pandas as pd

In [63]:
# Module 4.3.5
# NEXT CREATE A PANDAS SERIES for a list. (see above for the HS list created.)
# We assign the variable school_series to the conversion of the list of high schools to a Pandas Series by using pd.Series() instead of pandas.Series(). This is how we use the alias pd in our code.
# Create a Pandas Series from a list for the list of high schools.
school_series = pd.Series(high_schools)
# Retrieve the output by calling the variable school_series
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [64]:
# Module 4.3.5 - Skills Drill -- NEED HELP
# Iterate through the school_series and print out each high school.
# Like a list in Python, indexing can be used to get specific items from a Pandas Series.

In [65]:
# Module 4.3.5 
# We can convert the data in this Excel file to a PANDAS DATAFRAME using the pandas.DataFrame() method from the Pandas library.
# Column headers in the Excel file are the keys in the dictionary. 
# The value for each of the keys corresponds to a row in the Excel file.

In [66]:
# Module 4.3.5 - Convert a List of Dictionaries to DataFrame
# We can convert the data in this Excel file to a Pandas DataFrame using the pandas.DataFrame() method
# Create the dictionaries in the pandas_practice.ipynb file
# A dictionary of high schools; high_school_dicts is a list of dictionary
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [67]:
# Module 4.3.5 - cont'd from ln 42
# NEXT, we will convert the array, or list of dictionaries, to a DataFrame using school_df = pd.DataFrame(high_school_dicts)
# High school dictionaries was defined above
# The df in school_df is short for dataframe
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [68]:
# Module 4.3.5 - Convert a List or Series to a DataFrame cont'd
# We can also create the same DataFrame by adding each column as a list, or Series, to an empty DataFrame.
# Create a list(s) of information
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [69]:
# Module 4.3.5 - - Convert a List or Series to a DataFrame cont'd
# Next, initialize an empty DataFrame
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [ ]:
# Module 4.3.5 - Create a key in a dictionary
# The standard format for creating a key in a dictionary is to put the key in single or double quotes and inside brackets, 
# e.g.,  counties_dict["Arapahoe"] = 422829.

In [70]:
# Module 4.3.5 - Convert a List or Series to a DataFrame cont'd
# NEXT we will add each list (see above) to the empty schools_df DataFrame by typing the column name in quotes within brackets, like we do when we create a key for a dictionary.
# Instead of using the dictionary name, we'll use the name of the DataFrame and make it equal to the list.
# Add the list to a new DataFrame. school_df is the school DataFrame
school_df["School ID"] = school_id

# Print the DataFrame.
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [71]:
# Module 4.3.5
# Skills Drill
# Add the list to a new DataFrame
school_df["Type"] = type_of_school

#Print the DataFrame.
school_df

   School ID            school_name      type      Type
0          0   Huang High    School  District  District
1          1   Figueroa High School  District  District
2          2    Shelton High School   Charter   Charter
3          3  Hernandez High School  District  District
4          4    Griffin High School   Charter   Charter

In [72]:
# Module 4.3.5
# Skills Drill
# school_df = school dataframe
# Add the list to a new DataFrame
school_df["school_name"] = school_name

#Print the DataFrame.
school_df

   School ID            school_name      type      Type
0          0      Huang High School  District  District
1          1   Figueroa High School  District  District
2          2    Shelton High School   Charter   Charter
3          3  Hernandez High School  District  District
4          4    Griffin High School   Charter   Charter

In [73]:
# Module 4.3.5 - Pandas cont'd
# Another way to create a DataFrame is to create a Python dictionary from the 3 lists (above)
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

# Now we can convert the high_schools_dict dictionary to a DataFrame.
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [ ]:
# Module 4.3.5 - Anatomy of a DataFrame
# Columns: The top, or header, rows
# Index: The numbers that run down the left-hand margin
# Values: The values in the columns (the data)

In [74]:
# Module 4.3.5
# To get the column names of a DataFramem use df.columns. 
# Get the column names for the school_df DataFrame. Note you have to define
# the school_df DataFrame first which is what we did above.
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [75]:
# Module 4.3.5
# Get the INDEX NAMES for the school_df DataFrame
# the output is a RangeIndexthat contains the first and last index value, as well as the "step=1," or how often the index increments. 
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [76]:
# Module 4.3.5
# Get the VALUES for the school_df DataFrame
# the output will be an array of all the values, but without the column names:

school_df
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [77]:
# Module 4.3.5 - SKILLS DRILL
# Create a list for each column in the image in 4.3.5

school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School", "Figueroa High School","Shelton High School", "Hernandez High School","Griffin High School", "Wilson High School", "Cabrera High School",
                "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School","Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [ ]:
# 4.4.2 - Overview of the School Data Analysis Project
# List of deliverables for the analysis of the school district